.center.hero-unit
  %h1 Namify 

  %h2 
    This is the homepage for the
    = link_to 'Namify', 'home'
    application. 
 
  = link_to "Make your first list!", '#', class: "btn btn-large btn-primary"
