%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "Namify", '#', id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home", '#'
          %li= link_to "Help", '#'
          %li= link_to "Make a list", '#'
